# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ArkhamHorror.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Edward\Documents\Unity Projects\ArkhamHorror\.idea\.idea.ArkhamHorror\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
