# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.My project.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Edward\Documents\Unity Projects\My project\.idea\.idea.My project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
